*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background: rgb(154, 154, 255);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
}
.container header{
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
.container p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    max-width: 550px;
    text-align: center;
}
.container .time-content{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.time-content .time{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.time .number,.time .text{
 color: #fff;
 font-weight: 500;
}
.time .number{
    font-size: 40px;
}
.time .text{
    font-size: 12px;
    text-transform: capitalize;
}
.email-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}
.email-content p{
    font-size: 13px;
}
.input-box{
    display: flex;
    align-items: center;
    height: 40px;
    max-width: 360px;
    width: 100%;
    margin-top: 20px;
    column-gap: 20px;
}
.input-box input,.input-box button{
    height: 100%;
    background: rgba(255,255,255,0.2);
    outline: none;
    border: none;
    border: 1px solid #fff;
    border-radius: 4px;
}
.input-box input{
    width: 100%;
    padding: 0 15px;
    color: #fff;
    font-weight: 400;
}
.input-box button{
    padding: 0 20px;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
}
.input-box input::placeholder{
    color: #fff;
    transition: 0.2s;
}
.input-box button:hover{
    color: #0d6a81;
    background: #fff;
}